<div class="grid-main-list">
  <h3 class="text-section">Section 1</h3>
  <div class="section-2-real">
    <!--*ngIf="section == 0"-->
    <ul class="section-2">
      <li>
        <mat-card class="example-card" (click)="openDialog()">
          <mat-card-header>
            <mat-card-title>VIdeo title</mat-card-title>
          </mat-card-header>
          <img
            mat-card-image
            src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            alt="Photo of a Shiba Inu"
          />
          <!-- <iframe
            src="https://www.youtube.com/embed/LRblJyq_4Ko"
            class="mat-card-image"
          ></iframe> -->
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct
              spitz breeds of dog from Japan. A small, agile dog that copes very
              well with mountainous terrain, the Shiba Inu was originally bred
              for hunting.
            </p>
          </mat-card-content>
        </mat-card>
      </li>
      <li>
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>VIdeo title</mat-card-title>
          </mat-card-header>
          <img
            mat-card-image
            src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            alt="Photo of a Shiba Inu"
          />
          <!-- <iframe
            src="https://www.youtube.com/embed/LRblJyq_4Ko"
            class="mat-card-image"
          ></iframe> -->
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct
              spitz breeds of dog from Japan. A small, agile dog that copes very
              well with mountainous terrain, the Shiba Inu was originally bred
              for hunting.
            </p>
          </mat-card-content>
        </mat-card>
      </li>
      <li>
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>VIdeo title</mat-card-title>
          </mat-card-header>
          <img
            mat-card-image
            src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            alt="Photo of a Shiba Inu"
          />
          <!-- <iframe
            src="https://www.youtube.com/embed/LRblJyq_4Ko"
            class="mat-card-image"
          ></iframe> -->
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct
              spitz breeds of dog from Japan. A small, agile dog that copes very
              well with mountainous terrain, the Shiba Inu was originally bred
              for hunting.
            </p>
          </mat-card-content>
        </mat-card>
      </li>
      <li>
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>VIdeo title</mat-card-title>
          </mat-card-header>
          <img
            mat-card-image
            src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            alt="Photo of a Shiba Inu"
          />
          <!-- <iframe
            src="https://www.youtube.com/embed/LRblJyq_4Ko"
            class="mat-card-image"
          ></iframe> -->
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct
              spitz breeds of dog from Japan. A small, agile dog that copes very
              well with mountainous terrain, the Shiba Inu was originally bred
              for hunting.
            </p>
          </mat-card-content>
        </mat-card>
      </li>
      <li>
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>VIdeo title</mat-card-title>
          </mat-card-header>
          <img
            mat-card-image
            src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            alt="Photo of a Shiba Inu"
          />
          <!-- <iframe
            src="https://www.youtube.com/embed/LRblJyq_4Ko"
            class="mat-card-image"
          ></iframe> -->
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct
              spitz breeds of dog from Japan. A small, agile dog that copes very
              well with mountainous terrain, the Shiba Inu was originally bred
              for hunting.
            </p>
          </mat-card-content>
        </mat-card>
      </li>
      <li>
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>VIdeo title</mat-card-title>
          </mat-card-header>
          <img
            mat-card-image
            src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            alt="Photo of a Shiba Inu"
          />
          <!-- <iframe
            src="https://www.youtube.com/embed/LRblJyq_4Ko"
            class="mat-card-image"
          ></iframe> -->
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct
              spitz breeds of dog from Japan. A small, agile dog that copes very
              well with mountainous terrain, the Shiba Inu was originally bred
              for hunting.
            </p>
          </mat-card-content>
        </mat-card>
      </li>
    </ul>
  </div>

  <!-- test deo za slike -->

  <div class="section-3">
    <mat-card class="logo-card">
      <mat-card-content>
        <img
          class="img-part"
          src="../../assets/cofounded.png"
          alt=""
          width="350px"
          height="66px"
        />
      </mat-card-content>
    </mat-card>

    <mat-card class="logo-card">
      <mat-card-content>
        <p>
          This website is running with the support of the European Commission.
          Its content reflects the views only of the author, and the Commission
          cannot be held responsible for any use which may be made of the
          information contained there in.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="logo-card">
      <mat-card-content>
        <img
          src="../../assets/erasmus+logo.png"
          alt=""
          width="300px"
          height="61px"
        />
      </mat-card-content>
    </mat-card>

    <mat-card class="logo-card">
      <mat-card-content>
        <img src="../../assets/eacea.png" alt="" width="300px" height="188px" />
      </mat-card-content>
    </mat-card>
  </div>

  <!-- kraj testa za slike -->

  <div
    class="fb-comments"
    data-href="http://localhost:4200/user-dashboard-list"
    data-width="100%"
    data-numposts="5"
  ></div>
</div>

<!--  -->
